* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.window-layout {
  &__container {
    background: #ebebeb;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

.history {
  display: flex;

  &__posts {
    min-width: 320px;
  }

  &__timeline {
    flex-grow: 1;
  }
}

.item-form {
  padding: 15px;
  background: #fff;
  margin-bottom: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {

  }
}

.timeline-creation {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__items {

  }

  &__button {

  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.panel {
  padding: 20px 15px;
  background: #fff;
  box-shadow: 0 9px 12px -12px rgba(0, 0, 0, 0.44);
}
