.header {
  background: #1867c0;
  position: relative;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  &__container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {

  }

  &__meta {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.menu-btn {
  color: #fff;
}
