.panel {
  position: relative;
  background: #fff;
  box-shadow: 0 9px 12px -12px rgba(0, 0, 0, 0.44);

  &__header {
    padding: 20px 15px;
  }

  &__body {
    padding: 40px 15px 15px;
  }

  &__close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &__title {
    margin-bottom: 0;
  }

  &--expanded {
  }

  &--closed {
    cursor: pointer;
  }
}
