label {
  display: block;
  color: #070707;
  margin-bottom: 3px;
  font-weight: 300;
}

input {
  background: #fbfbfb;
  border: 1px solid #c1c1c1;
  border-bottom-width: 2px;
  border-radius: 0;
  color: #000;
  font-family: inherit;
  font-size: 1rem;
  font-weight: initial;
  line-height: 1.2;
  letter-spacing: normal;
  padding: 12px;
  width: 100%;
}
